@import "_nullstyle";
@import "_adaptive";
@import "_header";
@import "_form";
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400;1,800&display=swap');


body {
	font-family: Oxygen;
	background-color: #FCDDEC;
}

header {
	height: 100px;
	padding: 10px 20px;
	margin: 0px 0px 40px;
	
	background-color: #A5A6F6;
	
	@media (max-width: $md3+px) {
		height: 120px;
		margin: 0px 0px 15px;
	}
	
	@media (max-width: $md4+px) {
		padding: 10px 3px;
	}

	@media (max-width: 300px) {
		height: auto;
	}
}

.title {
	font-family: Nunito;
	text-transform: uppercase;
	font-weight: bold;
}

//header
.header-conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1100px;
	height: 100%;
	margin: auto;

	@media (max-width: $md3+px) {
		flex-direction: column;
	}

	&__logo {
		margin: 0px 20px 0px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	&__menu {
		margin: 0px 20px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 0px 0px;
		 }
	}
}

.logo {
	position: relative;

	@media (max-width: $md3+px) {
		margin: 0px 0px 15px 0px;
	}
	
	&__text {
		position: relative;
		
		font-family: Rancho;
		font-size: 45px;
		line-height: 50px;
		color: #FFFFFF;
		
		z-index: 2;
		
		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 23px;
		}	
	}

	&__img {
		position: absolute;
		top: 0px;
		left: 70px;
		width: 70px;
		height: 70px;
		background: url(/img/love-hand-drawn-heart-symbol-outline.png) 0 0/contain no-repeat;
		z-index: 1;

		@media (max-width: $md2+px) {
			width: 50px;
			height: 50px;
			left: 50px;
		}	
		@media (max-width: $md3+px) {
			width: 40px;
			height: 40px;
			left: 40px
		}	
	}
}
.menu {

	&__list {
		display: flex;
		@media (max-width: 300px) {
			flex-direction: column;
		}
	}
	
	&__item{
		
		margin: 0px 15px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 10px 0px 0px;
			&:last-child{
				margin: 0px 0px 0px 0px;
			}
		}

		@media (max-width: 300px) {
			text-align: center;
			margin: 0px 0px 10px 0px;
			&:last-child{
				margin: 0px 0px 10px 0px;
			}
		}
	}

	&__link {
		font-size: 20px;
		line-height: 25px;
		text-decoration: underline;

		color: #FFFFFF;

		@media (max-width: $md2+px) {
			font-size: 15px;
			line-height: 20px;
		}

		@media (max-width: $md3+px) {
			font-size: 13px;
			line-height: 16px;
		 }

		@media (max-width: $md4+px) {
			font-size: 11px;
			line-height: 13px;
		}

		&:hover{
			text-decoration: none;
			color: #EF5DA8;
		}
	}
}

.soc {
	display: flex;
	
	li{
		margin: 0px 15px 0px 0px;
		&:last-child{
			margin: 0px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 10px 0px 0px;
			&:last-child{
				margin: 0px;
			}
		}
		@media (max-width: $md3+px) {
			margin: 0px 20px 0px 0px;
			&:last-child{
				margin: 0px;
			}
		}
	}
	
	&__item {
		height: 30px;
		width: 30px;
		display: inline-block;

		@media (max-width: $md2+px) {
			height: 20px;
			width: 20px;
		}
		
		&_1 {
			background: url(/img/icon_1.png) 0 0/contain no-repeat;
			&:hover{
				background: url(/img/icon_1_2.png) 0 0/contain no-repeat;
			}
		}

		&_2 {
			background: url(/img/icon_2.png) 0 0/contain no-repeat;
			&:hover{
				background: url(/img/icon_2_2.png) 0 0/contain no-repeat;
			}
		}

		&_3 {
			background: url(/img/icon_3.png) 0 0/contain no-repeat;
			&:hover{
				background: url(/img/icon_3_2.png) 0 0/contain no-repeat;
			}
		}
	}
}

//hello
.hello {
	
	&__border{
		background: linear-gradient(to bottom, rgba(120, 121, 241, 1) 0%,rgba(241, 120, 182, 1) 100%);
		border-radius: 40px;
		padding: 5px;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__inside{
		background-color: #FCDDEC;
		border-radius: 36px;
		padding: 15px 15px;

		display: flex;
		flex-direction: column;

		&:hover .hello__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}
	
	&__title {
		width: 100%;
		font-size: 45px;
		line-height: 50px;
		text-align: right;

		color: #EF5DA8;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 40px;
			line-height: 45px;
		}

		@media (max-width: $md3+px) {
			font-size: 35px;
			line-height: 40px;
			
			text-align: center;
			margin: 0px 0px 25px 0px;
		}
	}

	&__content {
		display: flex;
		flex-direction: row-reverse;
		min-width: 100%;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 25px;
		color: #5D5FEF;
		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
		}
	}

	&__img {
		position: relative;
		min-width: 185px;
		max-width: 185px;
		height: 225px;
		background: url(/img/myphoto.jpg) 0 0/cover no-repeat;
		border-radius: 90px;
		margin: 0px 100px 0px 40px;
		box-shadow: 40px -20px 0px #7879F1, -40px -20px 0px #F178B6 ;
		&:before{
			content: '';
			position: absolute;
			min-width: 185px;
			height: 225px;
			background: url(/img/myphoto_2.jpg) 0 0/cover no-repeat;
			border-radius: 90px;
			opacity: 0;
			
			animation-name: photo;
			animation-duration: 5s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		@media (max-width: $md3+px) {
			margin: 0px 40px 10px 40px;
		}

		@media (max-width: 280px) {
			box-shadow: none;
		}
	}
}



@keyframes photo {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
 }

 //video

 .video {
	background-color: #F178B6;
	margin: 0px 0px 40px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 15px;
	}

	&:hover .video__title {
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 15px 20px;
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 10px;
		color: #FFFFFF;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
		}

	}

	&__play {
		width: 560px;
		height: 315px;

		@media (max-width: $md3+px) {
			width: 440px;
			height: 248px;
		}
		@media (max-width: $md4+px) {
			width: 300px;
			height: 169px;
		}
		@media (max-width: 300px) {
			width: 200px;
			height: 113px;
		}
	}
}

//skills

.my-skills {
	margin: 0px 0px 20px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 0px;
	}

	&__content {
		padding: 15px 20px;

		&:hover .my-skills__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 10px;

		color: #EF5DA8;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 25px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
		}
	}

	&__item {
		width: 100%;
		height: 30px;
		margin: 0px 0px 15px;
		border-radius: 40px;
		background-color: #A5A6F6;

		position: relative;

		@media (max-width: $md3+px) {
			height: 20px;
		}

		&::before{
			content: '';
			position: absolute;
			height: 100%;
			border-radius: 40px;
			z-index: 1;
			background-color: #EF5DA8;
		}

		&::after{
			display: none;
			width: 100%;
			position: relative;
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			color: #FFFFFF;
			z-index: 2;
			position: absolute;

			@media (max-width: $md2+px) {
				font-size: 20px;
			}
			@media (max-width: $md3+px) {
				font-size: 15px;
				line-height: 20px;
			 }
		}

		&:hover .my-skills__name {
			display: none;
		}

		&:hover::after{
			display: inline-block;
		}

		&_1 {
			&::before{
				width: 80%;
			}
			
			&::after{
				content: '80%';
			}
		}

		&_2 {
			&::before{
				width: 95%;
			}
			&::after{
				content: '95%';
			}

		}

		&_3 {
			&::before {
				width: 95%;
			}
			&::after{
				content: '95%';
			}
		}

		&_4 {
			&::before {
				width: 15%;
			}
			&::after{
				content: '15%';
			}
		}

		&_5 {
			&::before {
				width: 45%;
			}
			&::after{
				content: '45%';
			}
		}

		&_6 {
			&::before {
				width: 35%;
			}
			&::after{
				content: '35%';
			}
		}

		&_7 {
			&::before {
				width: 40%;
			}
			&::after{
				content: '40%';
			}
		}

		&:last-child{
			margin: 0px 0px 0px;
		}
	}

	&__name {
		position: relative;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
		z-index: 2;

		@media (max-width: $md2+px) {
			font-size: 20px;
		}
		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
		 }
	}
}

//lenguges

.leng {
	margin: 0px 0px 20px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 0px;
	}

	&__content {
		padding: 15px 20px;
		&:hover .leng__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 15px;

		color: #EF5DA8;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
		}
	}

	&__item {
		text-align: center;
		font-size: 20px;
		line-height: 25px;
		color: #5D5FEF;
		margin: 0px 0px 10px;
		&:last-child{
			margin: 0px;
		}

		@media (max-width: $md2+px) {
			font-size: 15px;
		}
	}
}

//work
.work {
	margin: 0px 0px 20px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 0px;
	}
	&__content {
		padding: 15px 20px;
		&:hover .work__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 10px;

		color: #EF5DA8;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
		}
	}

	&__text {
		text-align: center;
		font-size: 20px;
		line-height: 25px;
		color: #5D5FEF;
		@media (max-width: $md2+px) {
			font-size: 15px;
		}
	}
}

.code {

	margin: 0px 0px 20px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 0px;
	}
	&__content {
		padding: 15px 0px;
		&:hover .code__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-style: italic;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
		text-align: right;
		margin: 0px 0px 10px;
		padding: 0px 20px 0px 0px;

		color: #EF5DA8;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 20px;
			line-height: 25px;
		}
		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
			text-align: center;
			padding: 0px 0px 0px 0px;
		}
	}
}

.hljs{
	display: block;
	overflow-x: auto;
	padding: 15px;
	background: #A5A6F6;
	border-radius: 40px;
}

.hljs-string {
	color:#EF5DA8;
}

//cont
.contacts {

	&__border {
		background: linear-gradient(to bottom, rgba(120, 121, 241, 1) 0%,rgba(241, 120, 182, 1) 100%);
		border-radius: 40px;
		padding: 5px;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__inside {
		background-color: #FCDDEC;
		border-radius: 36px;
		padding: 15px 15px;

		display: flex;
		flex-direction: column;

		&:hover .contacts__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 10px;

		color: #5D5FEF;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			padding: 0px 0px 0px 0px;
		}
	}

	&__item {
		font-family: Nunito;
		font-style: italic;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		margin: 0px 0px 10px;
		text-align: center;
		color: #EF5DA8;
		&:last-child{
			margin: 0px;
		}

		@media (max-width: $md2+px) {
			font-size: 15px;
		}
	}
}

//educat

.education {
	background-color: #A5A6F6;
	margin: 0px 0px 40px 0px;
	@media (max-width: $md3+px) {
		margin: 0px 0px 15px 0px;
	}
	&__content {
		padding: 15px 20px;
		&:hover .education__title {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: 100%;
		font-size: 35px;
		line-height: 40px;
		text-align: right;
		margin: 0px 0px 15px;

		color: #FFFFFF;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			padding: 0px 0px 0px 0px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
		line-height: 25px;
		color: #FFFFFF;

		@media (max-width: $md2+px) {
			font-size: 15px;
		}
	}

	&__list {
		margin: 15px 0px;
	}

	&__item {
		margin: 0px 0px 10px;
		text-decoration: underline;
		list-style: disc;
		&:last-child{
			margin: 0px;
		}
		a{
			font-size: 20px;
			line-height: 25px;
			color: #FFFFFF;
			@media (max-width: $md2+px) {
				font-size: 15px;
			}
			@media (max-width: $md4+px) {
				font-size: 12px;
			}
		}
	}
}
//footer
footer {
	padding: 10px 20px;
	background-color: #EF5DA8;
	@media (max-width: 300px) {
		padding: 10px 0px;
	}
}

.footer-conteiner {
	max-width: 1100px;
	height: 100%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

.data {
		font-family: Nunito;
		font-style: italic;
		font-weight: 800;
		font-size: 20px;
		line-height: 25px;
		color: #000000;

		@media (max-width: $md2+px) {
			font-size: 15px;
			line-height: 20px;
		}
		@media (max-width: $md3+px) {
			font-size: 10px;
			line-height: 10px;
		}
}

.rs {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&__img {
		height: 30px;
		width: 70px;
		display: inline-block;
		//margin: 0px 0px 10px 0px;
		background: url(/img/rs_school_js.svg) 0 0/contain no-repeat;
		
		@media (max-width: $md2+px) {
			height: 20px;
			width: 60px;
		}
	}

	&__text {
		font-family: Nunito;
		font-style: italic;
		font-weight: 800;
		font-size: 15px;
		line-height: 20px;
		color: #000000;
		text-align: center;

		@media (max-width: $md2+px) {
			font-size: 10px;
		}
	}
}

.gh {
	display: flex;
	align-items: center;

	&__text {
		font-family: Nunito;
		font-style: italic;
		font-weight: 800;
		font-size: 15px;
		line-height: 15px;
		color: #000000;

		margin: 0px 10px 0px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 5px 0px 0px;
			font-size: 10px;
		}
	}

	&__img { 
		height: 30px;
		width: 30px;
		display: inline-block;

		background: url(/img/gh-2.png) 0 0/contain no-repeat;

		@media (max-width: $md2+px) {
			height: 20px;
			width: 20px;
		}
	}
}

.arrow-top {
	opacity: 0.5;
	right: 30px;
	top: 70%;
	position:fixed;
	z-index: 3;
	height: 50px;
	width: 50px;
	background: url(/img/right-arrow-direction.png) 0 0/contain no-repeat;

	&:hover {
		opacity: 1;
	}
}
